rust/target
php-ext/.deps
php-ext/.libs/
php-ext/Makefile
php-ext/Makefile.fragments
php-ext/Makefile.global
php-ext/Makefile.objects
php-ext/acinclude.m4
php-ext/aclocal.m4
php-ext/autom4te.cache/
php-ext/backup/
php-ext/build/
php-ext/config.guess
php-ext/config.h
php-ext/config.h.in
php-ext/config.h.in~
php-ext/config.log
php-ext/config.nice
php-ext/config.status
php-ext/config.sub
php-ext/configure
php-ext/configure.in
php-ext/install-sh
php-ext/libtool
php-ext/ltmain.sh
php-ext/missing
php-ext/mkinstalldirs
php-ext/modules/
php-ext/run-tests.php
php-ext/score.la
php-ext/score.lo
